.SummaryRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.Details {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.DetailsTitles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}

.DetailsValues {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

.Debit {
  color: red;
}

.Credit {
  color: green;
}
